html, body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#parent {
	width: 100vw;
	max-width: 400px;
	border: 2px solid #aaaa;
	border-radius: 20px;
	height: 80%;
	background-color: beige;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

body * {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
	width: 20px;
	border: none;
	border-bottom: 1px solid gray;
	background: none;
	text-align: center;
}

#n {
	font-size: 0.8em;
	width: 15px;
}

input:focus {
	border: none;
	outline: none;
	border-bottom: 1px solid lightgreen;
}

button {
	border: none;
	background-color: green;
	color: #f2f2f2;
	padding: 8px 16px;
	border-radius: 10px;
}

p {
	text-align: center;
}

footer {
	margin-top: auto;
	text-align: center;
	font-size: 0.8em;
}